{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{# Le bloc body ici est = a $content dans le MVC d'avant, qui récupéré les infos avec ob_start etc.. #}
{# ici la vue vient du Controller employé, avec la function index(), qui return bien $this->render('employe/index.html.twig', #}
{% block body %}
<h1>Liste des employés</h1>

{% for employe in employes %}

    {# Equivalent au dump die en php #}
    {# {{ dump(employe)}} #}

    {# Si __toString existe dans entreprise pour récupérer les infos via toString #}
    {# {{  employe }} embauché par {{ employe.entreprise }}<br> #}
    {# OU sans tooString pour récupérer en chainage #}
    <a href="{{path('show_employe', {'id': employe.id}) }}">{{  employe.prenom }} {{  employe.nom }}</a>  de la ville : {{  employe.ville }} est embauché par {{ employe.entreprise.raisonSociale }} au {{ employe.entreprise.adresse }}<br>
    {% endfor %}

{% endblock %}
